#!/bin/bash

USAGE="
Usage:
    $0 K [OUTBASE]
Runs bears.slim.
"

if [ $# -lt 1 ]
then
    echo "$USAGE"
    exit 1
fi

K=$1

if [ $# -gt 1 ]
then
    OUTBASE="OUTBASE=\"$2\""
else
    OUTBASE="bears_K$K"
fi

slim -d K=$K -d OUTBASE="'$OUTBASE'" bears.slim &> $OUTBASE.log
